cabal.project.local
dist-newstyle/tmp/environment.-3326/.ghc.environment.x86_64-linux-9.2.4
dist-newstyle/tmp/environment.-2104/.ghc.environment.x86_64-linux-9.2.4
dist-newstyle/tmp/environment.-2028/.ghc.environment.x86_64-linux-9.2.4
dist-newstyle/packagedb/ghc-9.2.4/package.cache.lock
dist-newstyle/packagedb/ghc-9.2.4/package.cache
dist-newstyle/cache/up-to-date
dist-newstyle/cache/source-hashes
dist-newstyle/cache/solver-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/improved-plan
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/compiler
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/package.conf.inplace/package.cache.lock
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/cache/registration
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/cache/config
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/cache/build
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/build/Haskell/Haskell-tmp/Main.o
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/build/Haskell/Haskell-tmp/Main.hi
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/build/Haskell/autogen/Paths_Haskell.hs
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/build/Haskell/autogen/cabal_macros.h
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/build/Haskell/Haskell
dist-newstyle/build/x86_64-linux/ghc-9.2.4/Haskell-0.1.0.0/x/Haskell/setup-config
.vscode/tasks.json
.vscode/phoityne.log
.vscode/launch.json
lol.hs
Haskell.cabal
CHANGELOG.md
dist-newstyle/cache/config